DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=pass
DB_NAME=db
DB_SSLMODE=disable
SERVER_PORT=:8700
DOCKER_CONTAINER=container
S3_BUCKET=storage
S3_ACCESS_KEY=key
S3_SECRET_KEY=key
JWT_SECRET=secret